/* ****** table courses ****** */
#main-courses {
  margin-top: 69px;
}

table {
  border-collapse: collapse;
  background-color: var(--light-color);
  width: 100%;
  min-width: 678px;
}

th {
  text-align: left;
  padding: 10px 5px;
}

td {
  color: var(--secondary-color);
  padding: 5px;
  border-bottom: solid 1px #e9e8e2;
}

#main-courses thead {
  color: #fff;
  background-color: var(--secondary-color);
}

.table-container {
  overflow: hidden;
}

/* ****** media queries ****** */
@media (max-width: 580px) {
  #main-courses {
    margin-top: 100px;
  }
}

@media (max-width: 678px) {
  .table-container {
    overflow: visible;
    overflow-x: scroll;
  }
}
