.navbar {
  height: 7rem;
  text-align: center;
}

.landing .content h1 {
  font-size: 1.6rem;
  font-weight: 200;
}

.landing .content p {
  font-size: 1.0rem;
  /* max-width: 600px; */
  margin: 1.1rem 0 1rem;
}