#main-info {
    /* background-color: #10181A; */
    /* background-color: #10181A; */
    /* background: url('../img/mainInfo3840x5760.jpg') no-repeat center center/cover; */
    /* background: url('../img/mainInfo2527x3790.jpg') no-repeat center center/cover; */
    /* background: url('../img/pexels-engin-akyurt-2767814.jpg') no-repeat center center/cover; */
    /* background: url('../img/pexels-johnmark-smith-250609.jpg') no-repeat center center/cover; */
    /* background: url('../img/pexels-cottonbro-4861373.jpg') no-repeat center center/cover; */
   
    /* background: url('../img/pexels-anete-lusina-4792430.jpg') no-repeat center center/cover; */
    /* background: url('../img/pexels-charlotte-may-5965715.jpg') no-repeat center center/cover; */
    /* background: url('../img/pexels-pixabay-256477.jpg') no-repeat center center/cover; */
    /* color: black; */
}


/* NAVIGATION */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
    color: var(--light-color);
    opacity: 0.8;
    width: 100%;
    height: 4.5rem;
    position: fixed;
    top: 0px;
    padding: 0 2rem;
    /* background-color: rgba(0,0,0,0.8); */
    /* font-weight: 100; */
    font-size: 1.0rem;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Roboto Condensed', sans-serif; */
    /* border-bottom: 0.04rem solid white; */
    /* z-index: 10; */
  }
  
  .navbar a:hover {
    /* border-bottom: solid 1px var(--primary-color); */
    /* border-top: solid 1px var(--primary-color); */
    /* opacity: 0.8; */
     border: solid 1px var(--primary-color);
    border-radius: 2px; 
  }
  
  .navbar a {
    color: var(--primary-color);
    padding: 0.8rem 0.5rem;
    margin: 0 0.4rem;
    text-decoration: none; 
    font-weight: bolder;
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
  }
  
  .navbar .logo {
    font-weight: 400;
  }



 
  
  