* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;

  background: var(--light-color);
  color: var(--light-color);
  line-height: 1.6;
  width: 100%;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

ul {
  list-style: none;
}

a {
  /* text-decoration: none;
  color: var(--primary-color);
  border: 2px solid greenyellow; */
}

p {
  margin: 1rem 0;
  /* border: 3px solid red; */
}

img {
  width: 100%;
}

footer {
  padding: 1.5rem;
  text-align: center;
}

/* Icons */
.icons {
  padding: 2rem;
  border: 1px solid var(--dark-color);
}

.icons h3 {
  font-weight: bold;
  margin-bottom: 1rem;
  /* border: 2px solid blue; */
}

.icons i {
  background-color: var(--primary-color);
  color: var(--light-color);
  padding: 0.8rem;
  border-radius: 7%;
  margin-bottom: 1rem;
  /* border: 2px solid yellow; */
}

.content {
  margin-bottom: 3rem;
}

.cars img:hover {
  /* opacity: 0.7; */
}

/* NEW */

/* @import url("https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400"); */

/* h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
} */

/* p, a {
  font-family: 'Source Sans Pro', sans-serif;
} */

html {
  scroll-behavior: smooth;
}

a {
  /* background-color: var(--primary-color);
  text-decoration: none;
  color: var(--light-color);
  border-radius: .25rem;
  text-align: center;
  display: inline-block;
  transition: all .3s;
  border: 2px solid greenyellow; */
}

.small-images {
  /* align-items: center;
  justify-content: center; */
}

a:hover {
  opacity: 0.7;
}

/* breweries styles */
.breweries {
  padding: 2rem;
}

.breweries .photo {
  /* background: url('../img/landing4000x6000.jpg') no-repeat center center/cover;
  height: 100%;
  border: 3px solid red; */
}

.breweries > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  grid-gap: 1.8rem;
}

.breweries > ul > li {
  border: 1px solid #e2e2e2;
  border-radius: 3px;
}

.breweries img {
  background: url("../img/landing4000x6000.jpg") no-repeat center center/cover;
}

.breweries > ul > li > figure {
  max-height: 220px;
  overflow: hidden;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  position: relative;
}

.breweries > ul > li > figure > img {
  width: 100%;
}

.breweries > ul > li > figure > figcaption {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
}

.breweries > ul > li > figure > figcaption > h3 {
  color: white;
  padding: 0.75rem;
  font-size: 1.25rem;
  text-align: center;
}

.breweries .small-images-p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.breweries > ul > li > p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0rem 0.75rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  color: var(--dark-color);
  text-align: center;
  /* border: 3px solid red;  */
  /* border: 3px solid yellow;  */
}

.breweries > ul > li > a {
  /* padding: .5rem 1rem;
  margin: .5rem;
  padding: 0.1rem;
  color: var(--dark-color);
  border: solid 1px var(--primary-color);
  text-decoration: none; 
  border-radius: 2px; 
  z-index: 1; */

  padding: 0.2rem;
  color: var(--dark-color);
  border: solid 1px var(--primary-color);
  text-decoration: none;
  border-radius: 2px;
  z-index: 1;
  margin: 0.6rem;
}

/* footer {
  background-color: var(--secondary-color);
  padding: 0.75rem;
  color: white;
  text-align: center;
  font-size: 0.75rem;
} */

/* Footer */
#main-footer {
  background-color: var(--secondary-color);
  color: var(--light-color);
  /* border: 0.2rem solid red; */
}

#main-footer .footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  gap: 1.5rem;
  /* border: 0.2rem solid green; */
  padding: 0.8rem;
}

#main-footer a {
  color: var(--light-color);
  /* border: 0.2rem solid yellow; */
}

/*  */

/* Copyright */
/* #main-footer .footer-container > *:last-child {
  background: var(--secondary-color);
  grid-column: 1 / span 3;

  text-align: center;
  font-size: 0.8rem;
  border-top: 1px solid var(--dark-color);
  border: 0.2rem solid orangered;
} */

/* #main-footer .footer-columns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
} */

/* Epost */
#main-footer .footer-container input[type="email"] {
  width: 80%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  /* margin-right: 1rem; */
  /* border: 3px solid royalblue; */
  max-width: 14rem;
  text-decoration: none;
}

/* Prenumerera */
#main-footer .footer-container input[type="submit"] {
  font-size: 1rem;
  padding: 1rem;
  background-color: var(--secondary-color);
  /* background: var(--primary-color); */
  color: var(--light-color);
  border: solid 1px var(--primary-color);
  text-decoration: none;
  border-radius: 2px;
  z-index: 1;
  width: 26%;
  font-weight: 500;
  max-width: 8rem;
  min-width: 8rem;
}

#main-footer .footer-container input[type="submit"]:hover {
  opacity: 0.7;
}

/* Registrera */
#main-footer .register-btn {
  padding: 1rem;
  color: var(--light-color);
  border: solid 1px var(--primary-color);
  text-decoration: none;
  border-radius: 2px;
  z-index: 1;
  min-width: 10rem;
}
#main-footer .register-btn:hover {
  opacity: 0.7;
}

#main-footer h3 {
  color: var(--primary-color);
  margin-bottom: 1rem;
}
